<!-- <h1>{{ user }}</h1>
<input type="text" [(ngModel)]="editUser">
<button class="btn btn-primary" (click)="editTheUser()">Change</button> -->

<!-- <div class="card" style="width: 18rem;" *ngFor="let listItem of productList">
  <img class="card-img-top" alt="Card image cap" [src]="listItem.image">
  <div class="card-body">
    <h5 class="card-title">{{ listItem.name }}</h5>
    <p class="card-text">
      {{ listItem.description }}
    </p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      {{ listItem.units }}
    </li>
  </ul>
</div> -->

<div class="col-md-12">
  <h3>One Component {{ user }}</h3>
</div>
<div class="container">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" [src]="defaultImg" alt="Card image cap">
    <div class="card-body">
      <ul class="list-group" *ngFor="let contact of contactList">
        <li class="list-group-item"> {{ contact.msg }}
          <button class="btn btn-danger" (click)="deleteContact(contact.msg)">Delete</button>
          <!-- {{ contact.msg }} -->
        </li>
      </ul>
    </div>
  </div>
</div>
<br>
<div class="container">
  <form #myForm="ngForm" (submit)="addContact(); myForm.reset()">
    <input type="text" placeholder="Enter name" [(ngModel)]="txtName" name="name">
    <button class="bt btn-primary" type="submit">
      Add Contact
    </button>
  </form>
</div>
<br>
<div class="container">
  <input type="text" 
  placeholder="search..." 
  (keyup)="onKeyup($event)">
  <button class="bt btn-success" type="submit"
  (click)="getUsers()">
    Search
  </button>
</div>
<p>{{ searchCount }}</p>
<ul *ngIf="searchResult">
  <li *ngFor="let result of searchResult.items">{{ result.login }}</li>
</ul>